nav {
    height: 4vw;
    background: #eeca60;
} 

.test {
    color: #fff2cc
}

.liste {
    list-style-type: none;
    background: #eeca60;
    height: 150%;
    font-size: 1.3vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.recherche {
    width: 450%;
}

.beta {
    position: relative;
    margin-top: 3%;
    font-size: 1.3vw;
    color: rgb(171, 2, 2);
    z-index: 1;
}

.items {
    margin-right: 3%;
    color: black;
    cursor: pointer;
}

.search {
    background-color: #fff2cc;
    width: 90%;
    margin-left: 5%;
    font-size: 1vw;
}

.search_list {
    background: #eeca60;
    width: 20%;
    z-index: 2;
    border-style: double;
    border-width: 10%;
    border-color: black;
    margin-left: 42%;
    bottom: 30%;
    position: relative;
}

.btn {
    display: none;
}

.btn_s {
    font-size: 1vw;
    display: inline-block;
    padding: 15% 20%;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #fff2cc;
    border: none;
    border-radius: 5%;
}

.btn_s:hover {
    background-color: #E1B124
}

.btn_s:active {
    background-color: #E1B124;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}


.logo {
    /* margin-right: 50px; */
    width: 50%;
    height: 300%;
    cursor: pointer;
    margin-right: 20%;
}

.budget1 {
    margin-right: 15%;
}

.mobile {
    margin-right: 5%;
}

.btn_connexion, .datauser {
    margin-left: 25%;
}

.btn_inscription {
    margin-right: 10%;
}

@media screen and (max-width: 500px){
    
    .liste {
        flex-direction: column;
        height: 270px;
    }

    .items:nth-child(1) {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }

    .items {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }

    .btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        color: black;
        cursor: pointer;
    }
}