.aide_financiere {
    color: black;
    margin-top: 10%;
    justify-content: left;
    align-items: left;
    display: flex;
    margin-left: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
}

.description {
    /* position: inherit;
    margin-left: 10%;
    font-size: 120%;
    width: 80%; */
    padding-top: 2%;
    font-size: 1.3vw;
}

.Etudiant {
    float: left;
    background-color: #eeca60;
    position:static;
    width: 10%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-size: 1vw;
    padding-bottom: 0.5%;
}

.PersonneAgée {
    float: left;
    background-color: #eeca60;
    position:static;
    width: 13%;
    margin-left: 5%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1vw;
}

.Handicap {
    float: left;
    background-color: #eeca60;
    position:static;
    margin-left: 5%;
    width: 10%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1vw;
    
}

.Fav {
    float: left;
    background-color: #eeca60;
    position:static;
    margin-left: 5%;
    width: 10%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1vw;
    
}

/* .checkBoxDiv {
    width: 80%;
    height: 50px;
    margin-left: 6.5%;
    padding-top: 1%;    
    justify-content: left;
    align-items: left;
    margin-top: 3%;
} */

.search_criteria {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    position: relative;
    margin-top: -8%;
    margin-left: 40%;
}

.revenus {
    font-size: 1vw;
    position: relative;
    margin-top: 3%;
}

.input_rev {
    width: 25%;
}

.place {
    margin-top: 2%;
    font-size: 60%;
    margin-right: 10%;
    position: relative;
}

/* @media screen and (max-width: 500px){
    .aide_financiere {
        color: black;
        font-size: 100%;
    }
} */