.big-square{
    background-color: #eeca60;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    border-radius: 1%;
}

.link-container{
    padding-top: 2%;
    padding-bottom: 5%;
}

.main-title{
    padding-top: 3%;
    font-size: 2vw;
    position:static;
}

.email-title{
    text-align: left;
    margin-left: 6%;
    font-size: 1vw;
    position:static;
}

.password-title{
    text-align: left;
    margin-left: 6%;
    margin-top: 5%;
    font-size: 1vw;
    position:static;
}

.remember-container{
    margin-top: 3%;
    font-size: 1vw;
    position:static;
}

.separator-auth-methods-container{
    margin-top: 3%;
    font-size: 1vw;
    position:static;
}

.clicable-widgets-container{
    margin-top: 3%;
    font-size: 1vw;
    position:static;
}

.buttonAuth{
    font-size: 1vw;
    position:static;
}

[title~="email"] {
    width: 80%;
    font-size: 1vw;
    position:static;
}

[title~="password"] {
    width: 80%;
    font-size: 1vw;
    position:static;
}

.google-btn {
    margin-top: 3%;
    margin-left: 15%;
  width: 70%;
  height: 45px;
  background-color: #4285f4;
  border-radius: 2%;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);

}

.google-icon-wrapper {
    position: absolute;
    margin-top: 0.1%;
    margin-left: 0.1%;
    width: 4%;
    height: 6%;
    border-radius: 2%;
    background-color: #fff;
}

.google-icon {
    position: absolute;
    margin-top: 25%;
    margin-left: 25%;
    left:     0%;
    top:      0%;
    width: 45%;
    height: 45%;  
}

.btn-text {
    float: right;
    margin: 7% 6% 0 0;
    color: #fff;
    font-size: 1.4vw;
    position:static;
    font-family: "Roboto";
}
  
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669F2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);