.rech_daide {
    position: relative;
    width: 30%;
    /* left: 110px;
    top: 222px; */
    padding-top: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.7vw;
    line-height: 61px;
    text-align: left;
    padding-left: 6%;
    color: #EDEEC9;
    padding-bottom: 2%;
}

.inline {
    display: flex;
    width: 20%;
    margin-top: 1%;
    margin-left: 6%;
}

.fst_block {
    position: relative;
    /* width: 144px; */
    width: 30%;
    height: 5.5%;
    top: 37.2%;
    
    background: #EDEEC9;
    border-radius: 5px;
}

.txt_block {
    position: relative;

    right: 2.5%;
    top: 23%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 25px; */
    font-size: 1.3vw;
    line-height: 30px;
    text-align: right;
    
}

.sec_block {
    position: relative;
    width: 50%;
    height: 10%;
    left: 7%;
    
    background: #EDEEC9;
    border-radius: 5px;
}

.third_block {
    position: relative;
    width: 35%;
    height: 5.5%;
    
    background: #EDEEC9;
    border-radius: 5px;
}

.fourth_block {
    position: relative;
    width: 30%;
    height: 5.5%;
    left: 7%;
    
    background: #EDEEC9;
    border-radius: 5px;
}

.line {
    position: relative;
    margin-top: 2%;
    width: 45%;
    left: 5.5%;
    
    border: 1px solid #000000;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.08deg);
}

.txt_bot {
    position: fixed;
    width: 21%;
    height: 10%;
    left: 70%;
    /* top: 20%; */
    top: 10vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1vw;
    line-height: 48px;
    
    color: #EDEEC9;
}

.decouvrez_assistant {
    position: fixed;
    width: 20%;
    height: 5.7%;
    left: 70.5%;
    top: 16vw;
    
    background: #BFD8BD;
    border-radius: 10px;
}



.decouvrez_assistant:hover {
    background-color: #d3d3d3;
}

.decouvrez_assistant:active {
    background-color: #a1a1a1;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}

.txt_ger_budg {
    position: fixed;
    width: 21%;
    height: 10%;
    left: 70%;
    /* top: 50%; */
    top: 26vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1vw;
    line-height: 48px;
    
    color: #EDEEC9;
}

.btn_ger_budg {
    position: fixed;
    width: 20%;
    height: 5.7%;
    left: 70.5%;
    /* top: 60%; */
    top: 29vw;
    background: #BFD8BD;
    border-radius: 10px;
}

.btn_ger_budg:hover {
    background-color: #d3d3d3;
}

.btn_ger_budg:active {
    background-color: #a1a1a1;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}

.space {
    padding-top: 3%;
}

.recherche_2 {
    align-items: left;
    text-align: left;
    align-items: flex-start;
    margin-right: 43%;
    width: 43%;
}

.search2 {
    background-color: #77BFA3;
    width: 90%;
    margin-left: 5%;
    font-size: 1vw;
    color: #EDEEC9;
}

.search_list2 {
    background: #EDEEC9;
    width: 43%;
    z-index: 2;
    border-style: double;
    border-width: 10%;
    border-color: black;
    margin-left: 6.8%;
    bottom: 30%;
    position: relative;
}

.search_criteria_2 {
    color: #EDEEC9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    position: relative;
    text-align: left;
    margin-left: 6%;
}

.revenus {
    font-size: 1vw;
    position: relative;
    margin-top: 3%;
}

.input_rev {
    width: 25%;
}